{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row offset-3">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/t2.jpg' %}" alt="Pankaj Panjwani" style="border-radius: 50%;">
      <div class="container">
        <h2>Ritik Sahoo</h2>
        <p class="title">CEO & Founder</p>
        
        <p>ritiksahoo133@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/avatar-5.png' %}" alt="Abhi" style="border-radius: 50%;">
      <div class="container">
        <h2>Rajesh Mishra</h2>
        <p class="title">Software Developer</p>
        
        <p>rajesh123@.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



