asgiref==3.5.2
astroid==2.4.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cx-Oracle==8.3.0
dj-database-url==1.0.0
Django==4.1.2
django-cors-headers==3.13.0
django-db-connection-pool==1.2.2
django-filter==22.1
django-heroku==0.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gmplot==1.4.1
greenlet==2.0.1
gunicorn==20.1.0
idna==2.10
importlib-metadata==5.0.0
isort==4.3.21
JayDeBeApi==1.2.3
JPype1==1.4.1
lazy-object-proxy==1.4.3
Markdown==3.4.1
mccabe==0.6.1
packaging==21.3
passlib==1.7.4
Pillow==8.3.1
protobuf==3.17.3
psycopg2==2.9.5
pycodestyle==2.8.0
PyJWT==2.6.0
pylint==2.5.3
PyMySQL==1.0.2
pyparsing==3.0.9
pytz==2021.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.4.44
sqlparams==5.0.0
sqlparse==0.4.1
style==1.1.0
toml==0.10.1
tzdata==2022.1
update==0.0.1
urllib3==1.25.10
whitenoise==6.2.0
wrapt==1.12.1
zipp==3.10.0
